<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="stylesheets/semantic.css">

  <script src="javascripts/jq.js"></script>
  <script src="javascripts/semantic.min.js"></script>

  <link href="http://cdn.staticfile.org/emoji/0.2.2/emoji.css" rel="stylesheet" type="text/css" />
  <script src="http://cdn.staticfile.org/emoji/0.2.2/emoji.js"></script>
  <style>
    body {
      background: #FCFCFC url(../images/bg.jpg) repeat;
    }
    #header {
      background: #00B5AD url(/images/tile-bg.png) repeat fixed 0% 0%;
    }
  </style>
</head>
<body>
  <div class="masthead segment" id="header">
    <div class="ui page grid">
      <div class="ui column">
        <% if (success) { %>
        <div class="ui green icon message">
          <i class="save icon"></i>
          <div class="content">
            <p><%= success %></p>
          </div>
        </div>
        <% }; %>

        <% if (error) { %>
        <div class="ui red icon message">
          <i class="save icon"></i>
          <div class="content">
            <p><%- error %></p>
          </div>
        </div>
        <% }; %>

        <div class="ui header">
          <h1>网络工程树洞<div class="ui black label">ver.1.2</div></h1>
          <div class="content">(ノﾟ∀ﾟ)ノ欢迎来到树洞</div>
          <div class="sub header">写上发件人和收件人还有你的秘密就可以发送啦！全部都是匿名的，不用担心隐私，但也不要破坏哦！⊂彡☆))д`)乱搞的人打屁屁。</div>
          <div class="sub header">欢迎互黑，或者表白。班会那天，会选出喜感/煽情的秘密全大班展示哦～</div>
          <div class="sub header">如果有令你不适的内容，请发送其ID到kevin1995#qq.com</div>
          <div class="sub header">如果乃想注入/攻击，请移步bupthole.duapp.com/test，但是拒绝DDOS哦，带宽很贵的，哼</div>
          <div class="ui small form segment">
            <form method="post">
              <div class="two fields">
                <div class="field">
                 <label>From</label>
                 <div class="ui mini input">
                   <input name="from" placeholder="输入你的名字，或者留空" type="text">
                 </div>
               </div>

               <div class="field">
                 <label>To</label>
                 <div class="ui mini input">
                   <input name="to" placeholder="输入你要发送的对象，或者留空" type="text">
                 </div>
               </div>
             </div>
             <div class="field">
               <div class="ui mini input">
                 <textarea placeholder="输入你想发送的话，不能留空哦" name="content" id="area"></textarea>
               </div>
             </div>

             <button class="ui blue  button" type="submit">Submit</button>
             <div class="ui green button" id="emoji">Emoji</div>

           </form>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="ui page grid">
  <div class="ui column">
   <%  for (i=wishes.length-1; i>=0; i--) { %>
   <% if (wishes[i].visible) { %>
   <div class="ui piled feed segment">
     <div class="ui small teal ribbon label"><%=wishes[i].id%></div>
     <div class="event">
       <div class="content">
         <div class="date">
           <%=wishes[i].timeS%>
         </div>
         <div class="summary">
           <b><%=wishes[i].from%></b>对<b><%=wishes[i].to%></b>说：<p><%-wishes[i].content%></p>
           <p>
             <% if (!test) { %>
             <form action="/likes" method="post">
               <% if (wishes[i].likes.indexOf(user)!=-1) { %>
               <button class="red ui icon button" name="clearLike" value="<%=wishes[i].id%>">
                 <i class="thumbs up icon"></i><%= wishes[i].likes.length%>
               </button>
               <% } else { %>
               <button class="teal ui icon button" name="like" value="<%=wishes[i].id%>">
                 <i class="thumbs up icon"></i><%= wishes[i].likes.length%>
               </button>
               <% } %>

               <% if (wishes[i].dislikes.indexOf(user)!=-1) { %>
               <button class="black ui icon button" name="clearDislike" value="<%=wishes[i].id%>">
                 <i class="thumbs down icon"></i><%= wishes[i].dislikes.length%>
               </button>
               <% } else { %>
               <button class="teal ui icon button" name="dislike" value="<%=wishes[i].id%>">
                 <i class="thumbs down icon"></i><%= wishes[i].dislikes.length%>
               </button>
               <% } %>
             </form>
             <% } %>
           </p>
         </div>
       </div>
     </div>
   </div>
   <%  };%>
   <%  };%>
 </div>
</div>
<% if (!test) { %>
<% include paging %>
<% }%>
<div class="dark stripe" style="background-color: #333333;">
  <div class="ui page grid">
    <div class="column">
      <div class="ui center aligned inverted icon header">
        <i class="circular emphasized inverted teal heart icon"></i>
        捐助我们！
        <div class="sub header">在支付宝上捐助kevin1995#qq.com</div>
        <div class="sub header">您的每一元都可以支持我们多工作半天！</div>
      </div>

      <div class="ui inverted horizontal section divider">
        <i class="circular heart icon"></i>
      </div>

      <div class="ui stackable grid">
        <div class="four column center aligned row">
          <div class="column">
            <div class="ui stacked seqment">
              <div class="ui statistic">
                <div class="number">325</div>
                <div class="description">748行代码</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui  stacked seqment">
              <div class="ui statistic">
                <div class="number">1</div>
                <div class="description">1位程序员</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui  stacked seqment">
              <div class="ui statistic">
                <div class="number">2</div>
                <div class="description">2天时间</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui stacked seqment">
              <div class="ui statistic">
                <div class="number">58</div>
                <div class="description">58/月服务器租用成本</div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<script>
  $('.ui.form')
  .form({
    content: {
      identifier : 'content',
      rules: [
      {
        type   : 'empty',
        prompt : '请输入你想说的话啦！'
      }
      ]
    }
  });
</script>
<% include emoji %>
<script src="/javascripts/showModal.js"></script>
</div>
</body>
</html>
